<div class="min-w-[300px] max-w-[600px] mx-auto px-6 sm:px-8 md:px-10">
  <div class="flex flex-col gap-5 sm:gap-6">
    <div
      class="text-left sm:text-center font-semibold text-2xl sm:text-3xl md:text-4xl"
    >
      <p>Vérification du code</p>
    </div>
    <div
      class="bg-white border border-slate-400/40 hover:border-slate-400/50 drop-shadow-xs/5 hover:drop-shadow-2xl/5 rounded-xl"
    >
      <div class="p-8 sm:p-10">
        <form
          [formGroup]="otpVerifyForm"
          (ngSubmit)="verifyOtp()"
          class="flex flex-col gap-4"
        >
          <!-- Identifier field -->
          <div class="flex flex-col gap-2 text-slate-600">
            <label class="" for="email">Adresse E-mail</label>
            <input
              formControlName="email"
              name="email"
              class="bg-[#fefefe] text-[#1f2937] placeholder-[#9ca3af] border border-slate-300 focus:outline-2 outline-slate-300 rounded-[6px] px-3 py-2"
              type="email"
              placeholder="votre adresse e-mail"
            />
          </div>

          <!-- Organization field -->
          <div class="flex flex-col gap-2 text-slate-600">
            <label class="" for="organization">Nom de l'organization</label>
            <input
              formControlName="organization"
              name="organization"
              class="bg-[#fefefe] text-[#1f2937] placeholder-[#9ca3af] border border-slate-300 focus:outline-2 outline-slate-300 rounded-[6px] px-3 py-2"
              type="text"
              placeholder="Votre organization"
            />
          </div>

          <!-- Otp Code sent-->
          <div class="flex flex-col gap-2 text-slate-600">
            <label class="" for="code">Code OTP</label>
            <input
              formControlName="code"
              name="code"
              class="bg-[#fefefe] text-[#1f2937] placeholder-[#9ca3af] border border-slate-300 focus:outline-2 outline-slate-300 rounded-[6px] px-3 py-2"
              type="number"
              placeholder="Entrez le code reçu"
            />
          </div>

          <!-- Submit button -->
          <div class="mt-3 mb-5">
            <button
              type="submit"
              class="bg-slate-700 text-white font-semibold rounded-lg w-full py-[10px] mx-auto"
            >
              @if (isLoading()) {
              <div class="flex gap-3 items-center justify-center">
                <app-loading />
                <p>En cours de verification...</p>
              </div>
              } @else {
              <p>Verifier le code reçu</p>
              }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
